.Search {
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
  height: 50px;
  width: 100%;
  border-bottom: 1px solid #E9E9E9;
}


.Search-input {
  font-size: 12px;
  padding: 7px;
  width: 260px;
  border-radius: 5  px;
  border: none;
  outline: 0;
  transition: .2s;
  box-shadow: 0 0 10px rgba(0,0,0,.4);
  background-image: url('/images/search.png');
  background-position: 240px 5px; 
  background-repeat:no-repeat;
}

.Search-input:focus {
  box-shadow: 0 0 10px rgba(0,0,0,.8);
}
