
.SelectedAnyMessage {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #F4F5F5;
}

.emogi{
  font-size: 30px;
  display: flex;
  justify-content: center;
}
